{% extends "html.twig" %}

{% block content %}
<img style="float: right; filter:drop-shadow(1px 1px 1px white) drop-shadow(-1px -1px 1px white); padding: 0 2.5em;" 
title="sona of me sitting" alt="sona of me sitting" src="/assets/img/hesit.png" height="256">
<div>
  <h3>home</h3>
  <div>hai, welcome to my website! it's currently a work in progress, but hopefully you like it! it's a complete overhaul from my old website, new CSS and all.</div>
  <br>
  <div>currently you can: </div>
  <ol>
    <li>visit the homepage</li>
  </ol>
  <br>
  <div>anyways, i plan to add a feature from strawpage - drawing submissions, because it's a cool idea lol.</div>
  <br>
</div>
{% endblock %}