{% extends "html.twig" %}

{% block content %}
<div class="index-page" x-data="{
  rand: Math.round(Math.random())
}">
  <div class="main-content">
    <h3>home</h3>
    <div>hai! welcome to the silly site with some stupid activities!
    <div>you can look at files</div>
    <div>draw stuff and send it to me</div>
    <small>.. and thats about it</small></div>

    <div class="cat-ascii">
      <pre>             へ         ╱|、</pre>
      <pre>       ૮  -   ՛ ) つ(>   < 7  </pre>
      <pre>         /   ⁻  ៸          、˜〵  </pre>
      <pre>  乀 (ˍ,  ل            じしˍ,)ノ</pre>
    </div>
  </div>
  <div class="silly-container" x-ref="silly_container" :class="rand == 0 ? `` : `hover-to-boom`"> 
    <img :class="rand == 0 ? `silly-image-manipulation` : `hover-to-boom`" 
    alt="me drinking bepsi" title="bepsi" src="/assets/img/bepisdrink-transparent.png" height="256">
    <small class="silly-text">I FUCKING LOVE BEPSI!!</small>
    
    {% include "./component/boop_btn.twig" with { user_id: config.owner_id } %}
  </div>
</div>
{% endblock %}